.button_box {
  margin: 24px 0 16px;
}

.query_box {
  z-index: 1000;
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0.01);

  .query_text {
    color: rgba(0, 0, 0, 0.8);
    margin-right: 8px;
    font-size: 16px;
  }
}

.table {
  position: absolute;
  z-index: 999;
  top: 100px;
  left: 0;
  width: 100%;
}
