.nut-swiper-item{height:100%}
.nut-swiper{position:relative;z-index:1;display:flex;transition-property:transform;box-sizing:content-box;overflow:hidden}.nut-swiper__inner{display:flex;height:100%}.nut-swiper__vertical{-webkit-box-orient:vertical;-webkit-box-direction:normal;flex-direction:column}.nut-swiper__pagination{display:flex;position:absolute;left:50%;bottom:var(--nutui-swiper-pagination-bottom, 12px);transform:translateX(-50%)}.nut-swiper__pagination i{width:var(--nutui-swiper-pagination-item-width, 8px);height:var(--nutui-swiper-pagination-item-height, 3px);margin-right:var(--nutui-swiper-pagination-item-margin-right, 7px);border-radius:var(--nutui-swiper-pagination-item-border-radius, 2px)}.nut-swiper__pagination i:last-child{margin-right:0}.nut-swiper__pagination-vertical{top:50%;left:12px;bottom:auto;flex-direction:column;-webkit-box-orient:vertical;-webkit-box-direction:normal;transform:translateY(-50%)}.nut-swiper__pagination-vertical i{margin-bottom:5px}
.zZicPZqk0NpyJ4IgIolM {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.zZicPZqk0NpyJ4IgIolM .hS3A0c1FSHqVnVMib42A {
  margin-top: 12px;
}

