@font-face {
  font-family: "nutui-iconfont";
  /* Project id 2166874 */
  src: url(https://wanpan11.github.io/my-app/images/e52fcbb887e6cf8eb62e.woff2?t=1668762221765) format('woff2'), url(https://wanpan11.github.io/my-app/images/981af2006ce6b186d2ae.woff?t=1668762221765) format('woff'), url(https://wanpan11.github.io/my-app/images/bcdcaa1de5a72b7818db.ttf?t=1668762221765) format('truetype');
}
.nutui-iconfont {
  font-family: "nutui-iconfont" !important;
}
.nutui-iconfont {
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.nut-icon-mask-close:before {
  content: "\e6cd";
}
.nut-icon-rect-left:before {
  content: "\e6c9";
}
.nut-icon-rect-up:before {
  content: "\e6ca";
}
.nut-icon-rect-right:before {
  content: "\e6cb";
}
.nut-icon-rect-down:before {
  content: "\e6cc";
}
.nut-icon-triangle-down:before {
  content: "\eb6d";
}
.nut-icon-triangle-up:before {
  content: "\eb6e";
}
.nut-icon-image-error:before {
  content: "\e60a";
}
.nut-icon-image:before {
  content: "\e609";
}
.nut-icon-voice:before {
  content: "\e608";
}
.nut-icon-play-stop:before {
  content: "\e604";
}
.nut-icon-play-start:before {
  content: "\e605";
}
.nut-icon-play-double-back:before {
  content: "\e606";
}
.nut-icon-play-double-forward:before {
  content: "\e607";
}
.nut-icon-dou-arrow-up:before {
  content: "\e603";
}
.nut-icon-loading1:before {
  content: "\e614";
}
.nut-icon-checked:before {
  content: "\e601";
}
.nut-icon-checklist:before {
  content: "\e6c8";
}
.nut-icon-check-disabled:before {
  content: "\e6c7";
}
.nut-icon-check-normal:before {
  content: "\e6c5";
}
.nut-icon-check-checked:before {
  content: "\e6c6";
}
.nut-icon-loading:before {
  content: "\e6c4";
}
.nut-icon-heart-n:before {
  content: "\e6c0";
}
.nut-icon-star-fill-n:before {
  content: "\e6c1";
}
.nut-icon-heart-fill-n:before {
  content: "\e6c2";
}
.nut-icon-star-n:before {
  content: "\e6c3";
}
.nut-icon-heart:before {
  content: "\e69d";
}
.nut-icon-heart1:before {
  content: "\e69e";
}
.nut-icon-heart-fill:before {
  content: "\e69f";
}
.nut-icon-heart-fill2:before {
  content: "\e6bf";
}
.nut-icon-heart-fill1:before {
  content: "\e6be";
}
.nut-icon-star-fill2:before {
  content: "\e6ae";
}
.nut-icon-star11:before {
  content: "\e6ad";
}
.nut-icon-star1:before {
  content: "\e6a0";
}
.nut-icon-star-fill:before {
  content: "\e6a1";
}
.nut-icon-share-n:before {
  content: "\e6bd";
}
.nut-icon-horizontal-n:before {
  content: "\e6bc";
}
.nut-icon-more-x:before {
  content: "\e6bb";
}
.nut-icon-more-s:before {
  content: "\e6ba";
}
.nut-icon-star-fill1:before {
  content: "\e6b8";
}
.nut-icon-star2:before {
  content: "\e6b9";
}
.nut-icon-heart2:before {
  content: "\e6b6";
}
.nut-icon-heart-fill3:before {
  content: "\e6b7";
}
.nut-icon-retweet:before {
  content: "\e6b5";
}
.nut-icon-poweroff-circle-fill:before {
  content: "\e6b3";
}
.nut-icon-play-circle-fill:before {
  content: "\e6b4";
}
.nut-icon-down-arrow:before {
  content: "\e6b2";
}
.nut-icon-success:before {
  content: "\e6af";
}
.nut-icon-failure:before {
  content: "\e6b0";
}
.nut-icon-issue:before {
  content: "\e6b1";
}
.nut-icon-Check:before {
  content: "\e6ac";
}
.nut-icon-plus:before {
  content: "\e600";
}
.nut-icon-minus:before {
  content: "\e6ab";
}
.nut-icon-arrow-up2:before {
  content: "\e6a6";
}
.nut-icon-arrow-down2:before {
  content: "\e6a7";
}
.nut-icon-screen-little:before {
  content: "\e6a8";
}
.nut-icon-arrow-right2:before {
  content: "\e6a9";
}
.nut-icon-close-little:before {
  content: "\e6aa";
}
.nut-icon-joy-smile:before {
  content: "\e6a5";
}
.nut-icon-arrow-down:before {
  content: "\e6a2";
}
.nut-icon-arrow-right:before {
  content: "\e6a3";
}
.nut-icon-arrow-up:before {
  content: "\e6a4";
}
.nut-icon-github:before {
  content: "\e69c";
}
.nut-icon-uploader:before {
  content: "\e69b";
}
.nut-icon-circle-close:before {
  content: "\e699";
}
.nut-icon-right:before {
  content: "\e698";
}
.nut-icon-jdl:before {
  content: "\e696";
}
.nut-icon-order:before {
  content: "\e697";
}
.nut-icon-refresh:before {
  content: "\e690";
}
.nut-icon-add:before {
  content: "\e691";
}
.nut-icon-JD:before {
  content: "\e692";
}
.nut-icon-eye:before {
  content: "\e693";
}
.nut-icon-dshop:before {
  content: "\e694";
}
.nut-icon-my2:before {
  content: "\e695";
}
.nut-icon-star:before {
  content: "\e68e";
}
.nut-icon-del2:before {
  content: "\e68f";
}
.nut-icon-comment:before {
  content: "\e68a";
}
.nut-icon-microphone:before {
  content: "\e68b";
}
.nut-icon-people:before {
  content: "\e68c";
}
.nut-icon-service:before {
  content: "\e68d";
}
.nut-icon-cart2:before {
  content: "\e689";
}
.nut-icon-location2:before {
  content: "\e684";
}
.nut-icon-marshalling:before {
  content: "\e685";
}
.nut-icon-fabulous:before {
  content: "\e686";
}
.nut-icon-s-follow:before {
  content: "\e687";
}
.nut-icon-shop:before {
  content: "\e688";
}
.nut-icon-message:before {
  content: "\e683";
}
.nut-icon-ask2:before {
  content: "\e67e";
}
.nut-icon-search2:before {
  content: "\e67f";
}
.nut-icon-clock:before {
  content: "\e680";
}
.nut-icon-setting:before {
  content: "\e681";
}
.nut-icon-refresh2:before {
  content: "\e682";
}
.nut-icon-horizontal:before {
  content: "\e679";
}
.nut-icon-date:before {
  content: "\e67a";
}
.nut-icon-photograph:before {
  content: "\e67b";
}
.nut-icon-link:before {
  content: "\e67c";
}
.nut-icon-scan2:before {
  content: "\e67d";
}
.nut-icon-left:before {
  content: "\e673";
}
.nut-icon-close:before {
  content: "\e674";
}
.nut-icon-locationg3:before {
  content: "\e675";
}
.nut-icon-share1:before {
  content: "\e676";
}
.nut-icon-shop3:before {
  content: "\e677";
}
.nut-icon-more:before {
  content: "\e678";
}
.nut-icon-ask:before {
  content: "\e670";
}
.nut-icon-tips:before {
  content: "\e671";
}
.nut-icon-notice:before {
  content: "\e672";
}
.nut-icon-lower:before {
  content: "\e668";
}
.nut-icon-top:before {
  content: "\e669";
}
.nut-icon-download:before {
  content: "\e66a";
}
.nut-icon-dongdong:before {
  content: "\e66b";
}
.nut-icon-JIMI40:before {
  content: "\e66c";
}
.nut-icon-location:before {
  content: "\e66d";
}
.nut-icon-scan:before {
  content: "\e66e";
}
.nut-icon-addfollow:before {
  content: "\e66f";
}
.nut-icon-search:before {
  content: "\e663";
}
.nut-icon-share:before {
  content: "\e664";
}
.nut-icon-follow:before {
  content: "\e665";
}
.nut-icon-del:before {
  content: "\e666";
}
.nut-icon-edit:before {
  content: "\e667";
}
.nut-icon-cart:before {
  content: "\e65f";
}
.nut-icon-home:before {
  content: "\e660";
}
.nut-icon-find:before {
  content: "\e661";
}
.nut-icon-category:before {
  content: "\e662";
}
.nut-icon-my:before {
  content: "\e65e";
}
.nut-icon-footprint:before {
  content: "\e65d";
}

@keyframes nutFadeIn{from{opacity:0}to{opacity:1}}@keyframes nutFadeOut{from{opacity:1}to{opacity:0}}.nutFade-enter-active,.nutFadeIn,.nutFade-leave-active,.nutFadeOut{animation-duration:.25s;animation-fill-mode:both;animation-timing-function:cubic-bezier(0.55, 0.085, 0.68, 0.53)}.nutFade-enter-active,.nutFadeIn{animation-name:nutFadeIn}.nutFade-leave-active,.nutFadeOut{animation-name:nutFadeOut}@keyframes nutZoomIn{from{opacity:0;transform:scale3d(0.3, 0.3, 0.3)}50%{opacity:1}}@keyframes nutZoomOut{from{opacity:1}50%{opacity:0;transform:scale3d(0.3, 0.3, 0.3)}to{opacity:0}}.nutZoom-enter-active,.nutZoomIn,.nutZoom-leave-active,.nutZoomOut{animation-duration:.25s;animation-fill-mode:both;animation-timing-function:cubic-bezier(0.55, 0.085, 0.68, 0.53)}.nutZoom-enter-active,.nutZoomIn{animation-name:nutZoomIn}.nutZoom-leave-active,.nutZoomOut{animation-name:nutZoomOut}@keyframes nutEaseIn{0%{opacity:0;transform:scale(0.9)}100%{opacity:1;transform:scale(1)}}@keyframes nutEaseOut{0%{opacity:1;transform:scale(1)}100%{opacity:0;transform:scale(0.9)}}.nutEase-enter-active,.nutEaseIn,.nutEase-leave-active,.nutEaseOut{animation-duration:.25s;animation-fill-mode:both;animation-timing-function:cubic-bezier(0.55, 0.085, 0.68, 0.53)}.nutEase-enter-active,.nutEaseIn{animation-name:nutEaseIn}.nutEase-leave-active,.nutEaseOut{animation-name:nutEaseOut}@keyframes nutDropIn{0%{opacity:0;transform:scaleY(0.8)}100%{opacity:1;transform:scaleY(1)}}@keyframes nutDropOut{0%{opacity:1;transform:scaleY(1)}100%{opacity:0;transform:scaleY(0.8)}}.nutDrop-enter-active,.nutDropIn,.nutDrop-leave-active,.nutDropOut{animation-duration:.25s;animation-fill-mode:both;animation-timing-function:cubic-bezier(0.55, 0.085, 0.68, 0.53)}.nutDrop-enter-active,.nutDropIn{animation-name:nutDropIn}.nutDrop-leave-active,.nutDropOut{animation-name:nutDropOut}@keyframes rotation{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg)}}.nutRotate-enter-active,.nutRotateIn,.nutRotate-leave-active,.nutRotateOut{animation-duration:.25s;animation-fill-mode:both;animation-timing-function:cubic-bezier(0.55, 0.085, 0.68, 0.53)}.nutRotate-enter-active,.nutRotateIn{animation-name:nutRotateIn}.nutRotate-leave-active,.nutRotateOut{animation-name:nutRotateOut}@keyframes nutJump{to{transform:scale3d(0.8, 1, 0.9) translateY(-10px)}}@keyframes nutJumpOne{50%{transform:scale3d(0.8, 1, 0.9) translateY(-10px)}100%{transform:scale3d(1, 1, 1) translateY(0)}}@keyframes nutBlink{0%{opacity:0}100%{opacity:1}}@keyframes nutBreathe{from,to{transform:scale(1)}50%{transform:scale(1.2)}}@keyframes nutFlash{from,50%,to{opacity:1}25%,75%{opacity:0}}@keyframes nutBounce{from,20%,53%,to{animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);transform:translate3d(0, 0, 0)}40%,43%{animation-timing-function:cubic-bezier(0.755, 0.05, 0.855, 0.06);transform:translate3d(0, -30px, 0) scaleY(1.1)}70%{animation-timing-function:cubic-bezier(0.755, 0.05, 0.855, 0.06);transform:translate3d(0, -15px, 0) scaleY(1.05)}80%{transition-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);transform:translate3d(0, 0, 0) scaleY(0.95)}90%{transform:translate3d(0, -4px, 0) scaleY(1.02)}}@keyframes nutShake{0%{transform:translateX(0)}6.5%{transform:translateX(-6px) rotateY(-9deg)}18.5%{transform:translateX(5px) rotateY(7deg)}31.5%{transform:translateX(-3px) rotateY(-5deg)}43.5%{transform:translateX(2px) rotateY(3deg)}50%{transform:translateX(0)}}.nut-icon{display:inline-block;position:relative;width:20px;width:var(--nutui-icon-width, 20px);height:20px;height:var(--nutui-icon-height, 20px);line-height:20px;line-height:var(--nutui-icon-line-height, 20px);text-align:right;--animate-duration: 1s;--animate-delay: 0s}.nut-icon::before{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%)}.nut-icon__img{width:20px;width:var(--nutui-icon-width, 20px);height:20px;height:var(--nutui-icon-height, 20px);-o-object-fit:contain;object-fit:contain}.nut-icon-loading,.nut-icon-loading1{display:inline-block;animation:rotation 1s infinite linear}.nut-icon-am-infinite{-webkit-animation-iteration-count:infinite;-webkit-animation-direction:alternate;animation-iteration-count:infinite;animation-direction:alternate}.nut-icon-am-jump{-webkit-animation-name:nutJumpOne;-webkit-animation-duration:var(--animate-duration);-webkit-animation-timing-function:ease;-webkit-animation-delay:var(--animate-delay);animation-name:nutJumpOne;animation-duration:var(--animate-duration);animation-timing-function:ease;animation-delay:var(--animate-delay)}.nut-icon-am-jump.nut-icon-am-infinite{animation-name:nutJump}.nut-icon-am-rotate{-webkit-animation-name:rotation;-webkit-animation-duration:var(--animate-duration);-webkit-animation-timing-function:linear;-webkit-animation-delay:var(--animate-delay);animation-name:rotation;animation-duration:var(--animate-duration);animation-timing-function:linear;animation-delay:var(--animate-delay)}.nut-icon-am-rotate.nut-icon-am-infinite{animation-direction:normal}.nut-icon-am-blink{-webkit-animation-name:nutBlink;-webkit-animation-duration:var(--animate-duration);-webkit-animation-timing-function:ease-in-out;-webkit-animation-delay:var(--animate-delay);animation-name:nutBlink;animation-duration:var(--animate-duration);animation-timing-function:linear;animation-delay:var(--animate-delay)}.nut-icon-am-breathe{-webkit-animation-name:nutBreathe;-webkit-animation-duration:var(--animate-duration);-webkit-animation-timing-function:ease-in-out;-webkit-animation-delay:var(--animate-delay);animation-name:nutBreathe;animation-duration:var(--animate-duration);animation-timing-function:ease-in-out;animation-delay:var(--animate-delay)}.nut-icon-am-flash{-webkit-animation-name:nutFlash;-webkit-animation-duration:var(--animate-duration);-webkit-animation-timing-function:ease-in-out;-webkit-animation-delay:var(--animate-delay);animation-name:nutFlash;animation-duration:var(--animate-duration);animation-timing-function:ease-in-out;animation-delay:var(--animate-delay)}.nut-icon-am-bounce{-webkit-animation-name:nutBounce;-webkit-animation-duration:var(--animate-duration);-webkit-animation-timing-function:ease-in-out;-webkit-animation-delay:var(--animate-delay);animation-name:nutBounce;animation-duration:var(--animate-duration);animation-timing-function:ease-in-out;animation-delay:var(--animate-delay)}.nut-icon-am-bounce.nut-icon-am-infinite{animation-direction:normal}.nut-icon-am-shake{-webkit-animation-name:nutShake;-webkit-animation-duration:var(--animate-duration);-webkit-animation-timing-function:ease-in-out;-webkit-animation-delay:var(--animate-delay);animation-name:nutShake;animation-duration:var(--animate-duration);animation-timing-function:ease-in-out;animation-delay:var(--animate-delay)}
.nut-theme-dark .nut-cell{background:#141414;color:#e6e6e6;box-shadow:none}.nut-theme-dark .nut-cell__value--alone{color:#757575;color:var(--nutui-cell-desc-color, var(--nutui-gray-2, #757575))}.nut-cell{position:relative;display:flex;width:100%;line-height:20px;line-height:var(--nutui-cell-line-height, 20px);padding:13px 16px;padding:var(--nutui-cell-padding, 13px 16px);background:#ffffff;background:var(--nutui-cell-background, var(--nutui-gray-6, #ffffff));border-radius:6px;border-radius:var(--nutui-cell-border-radius, 6px);box-shadow:0px 1px 7px 0px rgb(237, 238, 241);box-shadow:var(--nutui-cell-box-shaow, 0px 1px 7px 0px rgb(237, 238, 241));font-size:14px;font-size:var(--nutui-cell-title-font, var(--nutui-font-size-2, 14px));color:#1a1a1a;color:var(--nutui-cell-color, var(--nutui-gray-1, #1a1a1a));margin:10px 0;box-sizing:border-box}.nut-cell:last-child::after{border:0 !important}.nut-cell--center{align-items:center}.nut-cell--large{font-size:16px;font-size:var(--nutui-cell-large-title-font, var(--nutui-font-size-3, 16px));padding:15px 16px;padding:var(--nutui-cell-large-padding, 15px 16px)}.nut-cell--large .nut-cell__subtitle{font-size:14px;font-size:var(--nutui-cell-large-title-desc-font, var(--nutui-font-size-2, 14px))}.nut-cell::after{position:absolute;box-sizing:border-box;content:" ";pointer-events:none;right:16px;right:var(--nutui-cell-after-right, 16px);bottom:0;left:16px;transform:scaleY(0.5)}.nut-cell:active::before{opacity:.1}.nut-cell--clickable{cursor:pointer}.nut-cell--clickable::before{position:absolute;top:50%;left:50%;width:100%;height:100%;background-color:#000000;background-color:var(--nutui-gray-0, #000000);border:inherit;border-color:#000000;border-color:var(--nutui-gray-0, #000000);border-radius:inherit;transform:translate(-50%, -50%);opacity:0;content:" "}.nut-cell__icon{display:flex;flex-direction:row;margin:0 4px 0 0px;margin:var(--nutui-cell-default-icon-margin, 0 4px 0 0px)}.nut-cell__title{display:flex;flex-direction:column;flex:1}.nut-cell__subtitle{font-size:12px;font-size:var(--nutui-cell-title-desc-font, var(--nutui-font-size-1, 12px));color:#757575;color:var(--nutui-cell-subtitle-color, var(--nutui-gray-2, #757575))}.nut-cell__value{display:inline-block;text-align:right;flex:1;font-size:14px;font-size:var(--nutui-cell-desc-font, var(--nutui-font-size-2, 14px));color:#757575;color:var(--nutui-cell-desc-color, var(--nutui-gray-2, #757575));word-wrap:break-word;overflow:hidden}.nut-cell__value--alone{color:#1a1a1a;color:var(--nutui-cell-color, var(--nutui-gray-1, #1a1a1a))}.nut-cell__link{color:#979797}
.nut-theme-dark .nut-badge.show{background:#0a0a0a;color:#e6e6e6}.nut-badge{position:relative;display:inline-block;width:40px;height:40px;margin-right:40px}.nut-badge .slot-icons{position:absolute;background:linear-gradient(135deg, #fa2c19 0%, #fa2c19 100%);background:var(--nutui-badge-background-color, linear-gradient(135deg, var(--nutui-brand-color, #fa2c19) 0%, var(--nutui-brand-color-end, #fa2c19) 100%));top:-20%;right:-20%;padding:0 5px;padding:var(--nutui-badge-padding, 0 5px);text-align:center;border:0px solid #ffffff;border:var(--nutui-badge-border, 0px solid var(--nutui-brand-text-color, #ffffff));border-radius:14px;border-radius:var(--nutui-badge-border-radius, 14px);z-index:1;z-index:var(--nutui-badge-z-index, 1)}.nut-badge .sup{position:absolute;background:linear-gradient(135deg, #fa2c19 0%, #fa2c19 100%);background:var(--nutui-badge-background-color, linear-gradient(135deg, var(--nutui-brand-color, #fa2c19) 0%, var(--nutui-brand-color-end, #fa2c19) 100%));color:rgb(255, 255, 255);color:var(--nutui-badge-default-background-color, rgb(255, 255, 255));padding:0 5px;padding:var(--nutui-badge-padding, 0 5px);font-size:12px;font-size:var(--nutui-badge-font-size, var(--nutui-font-size-1, 12px));font-weight:normal;text-align:center;line-height:16px;border:0px solid #ffffff;border:var(--nutui-badge-border, 0px solid var(--nutui-brand-text-color, #ffffff));border-radius:14px;border-radius:var(--nutui-badge-border-radius, 14px)}.nut-badge .nut-badge__content{transform:translateY(-50%) translateX(100%);transform:var(--nutui-badge-content-transform, translateY(-50%) translateX(100%))}.nut-badge .is-dot{width:7px;width:var(--nutui-badge-dot-width, 7px);height:7px;height:var(--nutui-badge-dot-height, 7px);border:0px solid #ffffff;border:var(--nutui-badge-border, 0px solid var(--nutui-brand-text-color, #ffffff));border-radius:7px;border-radius:var(--nutui-badge-dot-border-radius, 7px);padding:0px;padding:var(--nutui-badge-dot-padding, 0px)}
.nut-swiper-item{height:100%}
.nut-swiper{position:relative;z-index:1;display:flex;transition-property:transform;box-sizing:content-box;overflow:hidden}.nut-swiper__inner{display:flex;height:100%}.nut-swiper__vertical{flex-direction:column}.nut-swiper__pagination{display:flex;position:absolute;left:50%;bottom:12px;bottom:var(--nutui-swiper-pagination-bottom, 12px);transform:translateX(-50%)}.nut-swiper__pagination i{width:8px;width:var(--nutui-swiper-pagination-item-width, 8px);height:3px;height:var(--nutui-swiper-pagination-item-height, 3px);margin-right:7px;margin-right:var(--nutui-swiper-pagination-item-margin-right, 7px);border-radius:2px;border-radius:var(--nutui-swiper-pagination-item-border-radius, 2px)}.nut-swiper__pagination i:last-child{margin-right:0}.nut-swiper__pagination-vertical{top:50%;left:12px;bottom:auto;flex-direction:column;transform:translateY(-50%)}.nut-swiper__pagination-vertical i{margin-bottom:5px}
.zZicPZqk0NpyJ4IgIolM {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.zZicPZqk0NpyJ4IgIolM .RmNJvEtOf1nQeMTeFqeD {
  width: 32px;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 6px;
  border-radius: 4px;
}
.zZicPZqk0NpyJ4IgIolM .hS3A0c1FSHqVnVMib42A {
  margin-top: 8px;
}

