@font-face {
  font-family: "nutui-iconfont";
  /* Project id 2166874 */
  src: url(https://wanpan11.github.io/my-app/images/e52fcbb887e6cf8eb62e.woff2?t=1668762221765) format('woff2'), url(https://wanpan11.github.io/my-app/images/981af2006ce6b186d2ae.woff?t=1668762221765) format('woff'), url(https://wanpan11.github.io/my-app/images/bcdcaa1de5a72b7818db.ttf?t=1668762221765) format('truetype');
}
.nutui-iconfont {
  font-family: "nutui-iconfont" !important;
}
.nutui-iconfont {
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.nut-icon-mask-close:before {
  content: "\e6cd";
}
.nut-icon-rect-left:before {
  content: "\e6c9";
}
.nut-icon-rect-up:before {
  content: "\e6ca";
}
.nut-icon-rect-right:before {
  content: "\e6cb";
}
.nut-icon-rect-down:before {
  content: "\e6cc";
}
.nut-icon-triangle-down:before {
  content: "\eb6d";
}
.nut-icon-triangle-up:before {
  content: "\eb6e";
}
.nut-icon-image-error:before {
  content: "\e60a";
}
.nut-icon-image:before {
  content: "\e609";
}
.nut-icon-voice:before {
  content: "\e608";
}
.nut-icon-play-stop:before {
  content: "\e604";
}
.nut-icon-play-start:before {
  content: "\e605";
}
.nut-icon-play-double-back:before {
  content: "\e606";
}
.nut-icon-play-double-forward:before {
  content: "\e607";
}
.nut-icon-dou-arrow-up:before {
  content: "\e603";
}
.nut-icon-loading1:before {
  content: "\e614";
}
.nut-icon-checked:before {
  content: "\e601";
}
.nut-icon-checklist:before {
  content: "\e6c8";
}
.nut-icon-check-disabled:before {
  content: "\e6c7";
}
.nut-icon-check-normal:before {
  content: "\e6c5";
}
.nut-icon-check-checked:before {
  content: "\e6c6";
}
.nut-icon-loading:before {
  content: "\e6c4";
}
.nut-icon-heart-n:before {
  content: "\e6c0";
}
.nut-icon-star-fill-n:before {
  content: "\e6c1";
}
.nut-icon-heart-fill-n:before {
  content: "\e6c2";
}
.nut-icon-star-n:before {
  content: "\e6c3";
}
.nut-icon-heart:before {
  content: "\e69d";
}
.nut-icon-heart1:before {
  content: "\e69e";
}
.nut-icon-heart-fill:before {
  content: "\e69f";
}
.nut-icon-heart-fill2:before {
  content: "\e6bf";
}
.nut-icon-heart-fill1:before {
  content: "\e6be";
}
.nut-icon-star-fill2:before {
  content: "\e6ae";
}
.nut-icon-star11:before {
  content: "\e6ad";
}
.nut-icon-star1:before {
  content: "\e6a0";
}
.nut-icon-star-fill:before {
  content: "\e6a1";
}
.nut-icon-share-n:before {
  content: "\e6bd";
}
.nut-icon-horizontal-n:before {
  content: "\e6bc";
}
.nut-icon-more-x:before {
  content: "\e6bb";
}
.nut-icon-more-s:before {
  content: "\e6ba";
}
.nut-icon-star-fill1:before {
  content: "\e6b8";
}
.nut-icon-star2:before {
  content: "\e6b9";
}
.nut-icon-heart2:before {
  content: "\e6b6";
}
.nut-icon-heart-fill3:before {
  content: "\e6b7";
}
.nut-icon-retweet:before {
  content: "\e6b5";
}
.nut-icon-poweroff-circle-fill:before {
  content: "\e6b3";
}
.nut-icon-play-circle-fill:before {
  content: "\e6b4";
}
.nut-icon-down-arrow:before {
  content: "\e6b2";
}
.nut-icon-success:before {
  content: "\e6af";
}
.nut-icon-failure:before {
  content: "\e6b0";
}
.nut-icon-issue:before {
  content: "\e6b1";
}
.nut-icon-Check:before {
  content: "\e6ac";
}
.nut-icon-plus:before {
  content: "\e600";
}
.nut-icon-minus:before {
  content: "\e6ab";
}
.nut-icon-arrow-up2:before {
  content: "\e6a6";
}
.nut-icon-arrow-down2:before {
  content: "\e6a7";
}
.nut-icon-screen-little:before {
  content: "\e6a8";
}
.nut-icon-arrow-right2:before {
  content: "\e6a9";
}
.nut-icon-close-little:before {
  content: "\e6aa";
}
.nut-icon-joy-smile:before {
  content: "\e6a5";
}
.nut-icon-arrow-down:before {
  content: "\e6a2";
}
.nut-icon-arrow-right:before {
  content: "\e6a3";
}
.nut-icon-arrow-up:before {
  content: "\e6a4";
}
.nut-icon-github:before {
  content: "\e69c";
}
.nut-icon-uploader:before {
  content: "\e69b";
}
.nut-icon-circle-close:before {
  content: "\e699";
}
.nut-icon-right:before {
  content: "\e698";
}
.nut-icon-jdl:before {
  content: "\e696";
}
.nut-icon-order:before {
  content: "\e697";
}
.nut-icon-refresh:before {
  content: "\e690";
}
.nut-icon-add:before {
  content: "\e691";
}
.nut-icon-JD:before {
  content: "\e692";
}
.nut-icon-eye:before {
  content: "\e693";
}
.nut-icon-dshop:before {
  content: "\e694";
}
.nut-icon-my2:before {
  content: "\e695";
}
.nut-icon-star:before {
  content: "\e68e";
}
.nut-icon-del2:before {
  content: "\e68f";
}
.nut-icon-comment:before {
  content: "\e68a";
}
.nut-icon-microphone:before {
  content: "\e68b";
}
.nut-icon-people:before {
  content: "\e68c";
}
.nut-icon-service:before {
  content: "\e68d";
}
.nut-icon-cart2:before {
  content: "\e689";
}
.nut-icon-location2:before {
  content: "\e684";
}
.nut-icon-marshalling:before {
  content: "\e685";
}
.nut-icon-fabulous:before {
  content: "\e686";
}
.nut-icon-s-follow:before {
  content: "\e687";
}
.nut-icon-shop:before {
  content: "\e688";
}
.nut-icon-message:before {
  content: "\e683";
}
.nut-icon-ask2:before {
  content: "\e67e";
}
.nut-icon-search2:before {
  content: "\e67f";
}
.nut-icon-clock:before {
  content: "\e680";
}
.nut-icon-setting:before {
  content: "\e681";
}
.nut-icon-refresh2:before {
  content: "\e682";
}
.nut-icon-horizontal:before {
  content: "\e679";
}
.nut-icon-date:before {
  content: "\e67a";
}
.nut-icon-photograph:before {
  content: "\e67b";
}
.nut-icon-link:before {
  content: "\e67c";
}
.nut-icon-scan2:before {
  content: "\e67d";
}
.nut-icon-left:before {
  content: "\e673";
}
.nut-icon-close:before {
  content: "\e674";
}
.nut-icon-locationg3:before {
  content: "\e675";
}
.nut-icon-share1:before {
  content: "\e676";
}
.nut-icon-shop3:before {
  content: "\e677";
}
.nut-icon-more:before {
  content: "\e678";
}
.nut-icon-ask:before {
  content: "\e670";
}
.nut-icon-tips:before {
  content: "\e671";
}
.nut-icon-notice:before {
  content: "\e672";
}
.nut-icon-lower:before {
  content: "\e668";
}
.nut-icon-top:before {
  content: "\e669";
}
.nut-icon-download:before {
  content: "\e66a";
}
.nut-icon-dongdong:before {
  content: "\e66b";
}
.nut-icon-JIMI40:before {
  content: "\e66c";
}
.nut-icon-location:before {
  content: "\e66d";
}
.nut-icon-scan:before {
  content: "\e66e";
}
.nut-icon-addfollow:before {
  content: "\e66f";
}
.nut-icon-search:before {
  content: "\e663";
}
.nut-icon-share:before {
  content: "\e664";
}
.nut-icon-follow:before {
  content: "\e665";
}
.nut-icon-del:before {
  content: "\e666";
}
.nut-icon-edit:before {
  content: "\e667";
}
.nut-icon-cart:before {
  content: "\e65f";
}
.nut-icon-home:before {
  content: "\e660";
}
.nut-icon-find:before {
  content: "\e661";
}
.nut-icon-category:before {
  content: "\e662";
}
.nut-icon-my:before {
  content: "\e65e";
}
.nut-icon-footprint:before {
  content: "\e65d";
}

@keyframes nutFadeIn{from{opacity:0}to{opacity:1}}@keyframes nutFadeOut{from{opacity:1}to{opacity:0}}.nutFade-enter-active,.nutFadeIn,.nutFade-leave-active,.nutFadeOut{animation-duration:.25s;animation-fill-mode:both;animation-timing-function:cubic-bezier(0.55, 0.085, 0.68, 0.53)}.nutFade-enter-active,.nutFadeIn{animation-name:nutFadeIn}.nutFade-leave-active,.nutFadeOut{animation-name:nutFadeOut}@keyframes nutZoomIn{from{opacity:0;transform:scale3d(0.3, 0.3, 0.3)}50%{opacity:1}}@keyframes nutZoomOut{from{opacity:1}50%{opacity:0;transform:scale3d(0.3, 0.3, 0.3)}to{opacity:0}}.nutZoom-enter-active,.nutZoomIn,.nutZoom-leave-active,.nutZoomOut{animation-duration:.25s;animation-fill-mode:both;animation-timing-function:cubic-bezier(0.55, 0.085, 0.68, 0.53)}.nutZoom-enter-active,.nutZoomIn{animation-name:nutZoomIn}.nutZoom-leave-active,.nutZoomOut{animation-name:nutZoomOut}@keyframes nutEaseIn{0%{opacity:0;transform:scale(0.9)}100%{opacity:1;transform:scale(1)}}@keyframes nutEaseOut{0%{opacity:1;transform:scale(1)}100%{opacity:0;transform:scale(0.9)}}.nutEase-enter-active,.nutEaseIn,.nutEase-leave-active,.nutEaseOut{animation-duration:.25s;animation-fill-mode:both;animation-timing-function:cubic-bezier(0.55, 0.085, 0.68, 0.53)}.nutEase-enter-active,.nutEaseIn{animation-name:nutEaseIn}.nutEase-leave-active,.nutEaseOut{animation-name:nutEaseOut}@keyframes nutDropIn{0%{opacity:0;transform:scaleY(0.8)}100%{opacity:1;transform:scaleY(1)}}@keyframes nutDropOut{0%{opacity:1;transform:scaleY(1)}100%{opacity:0;transform:scaleY(0.8)}}.nutDrop-enter-active,.nutDropIn,.nutDrop-leave-active,.nutDropOut{animation-duration:.25s;animation-fill-mode:both;animation-timing-function:cubic-bezier(0.55, 0.085, 0.68, 0.53)}.nutDrop-enter-active,.nutDropIn{animation-name:nutDropIn}.nutDrop-leave-active,.nutDropOut{animation-name:nutDropOut}@keyframes rotation{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg)}}.nutRotate-enter-active,.nutRotateIn,.nutRotate-leave-active,.nutRotateOut{animation-duration:.25s;animation-fill-mode:both;animation-timing-function:cubic-bezier(0.55, 0.085, 0.68, 0.53)}.nutRotate-enter-active,.nutRotateIn{animation-name:nutRotateIn}.nutRotate-leave-active,.nutRotateOut{animation-name:nutRotateOut}@keyframes nutJump{to{transform:scale3d(0.8, 1, 0.9) translateY(-10px)}}@keyframes nutJumpOne{50%{transform:scale3d(0.8, 1, 0.9) translateY(-10px)}100%{transform:scale3d(1, 1, 1) translateY(0)}}@keyframes nutBlink{0%{opacity:0}100%{opacity:1}}@keyframes nutBreathe{from,to{transform:scale(1)}50%{transform:scale(1.2)}}@keyframes nutFlash{from,50%,to{opacity:1}25%,75%{opacity:0}}@keyframes nutBounce{from,20%,53%,to{animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);transform:translate3d(0, 0, 0)}40%,43%{animation-timing-function:cubic-bezier(0.755, 0.05, 0.855, 0.06);transform:translate3d(0, -30px, 0) scaleY(1.1)}70%{animation-timing-function:cubic-bezier(0.755, 0.05, 0.855, 0.06);transform:translate3d(0, -15px, 0) scaleY(1.05)}80%{transition-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);transform:translate3d(0, 0, 0) scaleY(0.95)}90%{transform:translate3d(0, -4px, 0) scaleY(1.02)}}@keyframes nutShake{0%{transform:translateX(0)}6.5%{transform:translateX(-6px) rotateY(-9deg)}18.5%{transform:translateX(5px) rotateY(7deg)}31.5%{transform:translateX(-3px) rotateY(-5deg)}43.5%{transform:translateX(2px) rotateY(3deg)}50%{transform:translateX(0)}}.nut-icon{display:inline-block;position:relative;width:20px;width:var(--nutui-icon-width, 20px);height:20px;height:var(--nutui-icon-height, 20px);line-height:20px;line-height:var(--nutui-icon-line-height, 20px);text-align:right;--animate-duration: 1s;--animate-delay: 0s}.nut-icon::before{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%)}.nut-icon__img{width:20px;width:var(--nutui-icon-width, 20px);height:20px;height:var(--nutui-icon-height, 20px);-o-object-fit:contain;object-fit:contain}.nut-icon-loading,.nut-icon-loading1{display:inline-block;animation:rotation 1s infinite linear}.nut-icon-am-infinite{-webkit-animation-iteration-count:infinite;-webkit-animation-direction:alternate;animation-iteration-count:infinite;animation-direction:alternate}.nut-icon-am-jump{-webkit-animation-name:nutJumpOne;-webkit-animation-duration:var(--animate-duration);-webkit-animation-timing-function:ease;-webkit-animation-delay:var(--animate-delay);animation-name:nutJumpOne;animation-duration:var(--animate-duration);animation-timing-function:ease;animation-delay:var(--animate-delay)}.nut-icon-am-jump.nut-icon-am-infinite{animation-name:nutJump}.nut-icon-am-rotate{-webkit-animation-name:rotation;-webkit-animation-duration:var(--animate-duration);-webkit-animation-timing-function:linear;-webkit-animation-delay:var(--animate-delay);animation-name:rotation;animation-duration:var(--animate-duration);animation-timing-function:linear;animation-delay:var(--animate-delay)}.nut-icon-am-rotate.nut-icon-am-infinite{animation-direction:normal}.nut-icon-am-blink{-webkit-animation-name:nutBlink;-webkit-animation-duration:var(--animate-duration);-webkit-animation-timing-function:ease-in-out;-webkit-animation-delay:var(--animate-delay);animation-name:nutBlink;animation-duration:var(--animate-duration);animation-timing-function:linear;animation-delay:var(--animate-delay)}.nut-icon-am-breathe{-webkit-animation-name:nutBreathe;-webkit-animation-duration:var(--animate-duration);-webkit-animation-timing-function:ease-in-out;-webkit-animation-delay:var(--animate-delay);animation-name:nutBreathe;animation-duration:var(--animate-duration);animation-timing-function:ease-in-out;animation-delay:var(--animate-delay)}.nut-icon-am-flash{-webkit-animation-name:nutFlash;-webkit-animation-duration:var(--animate-duration);-webkit-animation-timing-function:ease-in-out;-webkit-animation-delay:var(--animate-delay);animation-name:nutFlash;animation-duration:var(--animate-duration);animation-timing-function:ease-in-out;animation-delay:var(--animate-delay)}.nut-icon-am-bounce{-webkit-animation-name:nutBounce;-webkit-animation-duration:var(--animate-duration);-webkit-animation-timing-function:ease-in-out;-webkit-animation-delay:var(--animate-delay);animation-name:nutBounce;animation-duration:var(--animate-duration);animation-timing-function:ease-in-out;animation-delay:var(--animate-delay)}.nut-icon-am-bounce.nut-icon-am-infinite{animation-direction:normal}.nut-icon-am-shake{-webkit-animation-name:nutShake;-webkit-animation-duration:var(--animate-duration);-webkit-animation-timing-function:ease-in-out;-webkit-animation-delay:var(--animate-delay);animation-name:nutShake;animation-duration:var(--animate-duration);animation-timing-function:ease-in-out;animation-delay:var(--animate-delay)}
.nut-theme-dark .nut-navbar{background:#141414;color:#e6e6e6;box-shadow:none}.nut-theme-dark .nut-navbar .title{color:#e6e6e6}.nut-theme-dark .nut-navbar__left{color:#828282}.nut-theme-dark .nut-navbar__left i{color:#828282 !important}.nut-theme-dark .nut-navbar__right{color:#e6e6e6}.nut-theme-dark .nut-navbar--border{border-bottom:none}.nut-theme-dark .nut-tabs__titles-item__text{background:#141414;color:#e6e6e6}.nut-navbar{width:100%;width:var(--nutui-navbar-width, 100%);position:relative;display:flex;align-items:center;height:44px;height:var(--nutui-navbar-height, 44px);box-sizing:border-box;padding:13px 16px;padding:var(--nutui-navbar-padding, 13px 16px);background:#ffffff;background:var(--nutui-navbar-background, var(--nutui-gray-6, #ffffff));box-shadow:0px 1px 7px 0px rgb(237, 238, 241);box-shadow:var(--nutui-navbar-box-shadow, 0px 1px 7px 0px rgb(237, 238, 241));font-size:14px;font-size:var(--nutui-navbar-title-base-font, var(--nutui-font-size-2, 14px));color:#1a1a1a;color:var(--nutui-navbar-color, var(--nutui-gray-1, #1a1a1a));margin-bottom:20px;margin-bottom:var(--nutui-navbar-margin-bottom, 20px);overflow:hidden}.nut-navbar:active::before{opacity:.1}.nut-navbar--border{border-bottom:1px solid #eee}.nut-navbar--fixed{position:fixed;top:0;left:0;width:100%}.nut-navbar--placeholder{display:inline-block;width:100%}.nut-navbar--safe-area-inset-top{padding-top:constant(safe-area-inset-top);padding-top:env(safe-area-inset-top)}.nut-navbar--clickable::before{position:absolute;content:" ";top:50%;left:50%;width:100%;height:100%;background-color:#000000;background-color:var(--nutui-gray-0, #000000);border:inherit;border-color:#000000;border-color:var(--nutui-gray-0, #000000);border-radius:inherit;transform:translate(-50%, -50%);opacity:0}.nut-navbar .nutui-iconfont .nut-icon-left{text-align:left}.nut-navbar__title{min-width:53%;margin:0 auto;text-align:center;display:flex;align-items:center;justify-content:center}.nut-navbar__title .title{min-width:100px;min-width:var(--nutui-navbar-title-width, 100px);font-size:14px;font-size:var(--nutui-navbar-title-font, var(--nutui-font-size-2, 14px));font-weight:0;font-weight:var(--nutui-navbar-title-font-weight, 0);color:#1a1a1a;color:var(--nutui-navbar-title-font-color, var(--nutui-navbar-color, var(--nutui-gray-1, #1a1a1a)));display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;overflow:hidden}.nut-navbar__title.icon .icon{margin:0 0 0 13px;margin:var(--nutui-navbar-title-icon-margin, 0 0 0 13px)}.nut-navbar__title .nut-icon{display:inline}.nut-navbar__title-desc{font-size:12px;font-size:var(--nutui-cell-title-desc-font, var(--nutui-font-size-1, 12px))}.nut-navbar__title .text__title{display:inline-block}.nut-navbar__title .nut-tabs__titles{background:#ffffff;background:var(--nutui-gray-6, #ffffff)}.nut-navbar__title .nut-tabs__titles-item__text{color:#1a1a1a;color:var(--nutui-gray-1, #1a1a1a)}.nut-navbar__title .nut-tabpane{display:none}.nut-navbar__title ::-webkit-scrollbar{display:none}.nut-navbar__left{font-size:14px;font-size:var(--nutui-cell-desc-font, var(--nutui-font-size-2, 14px));color:#757575;color:var(--nutui-gray-2, #757575);position:absolute;left:0;top:0;bottom:0;display:flex;align-items:center;cursor:pointer;padding:0 16px}.nut-navbar__right{font-size:14px;font-size:var(--nutui-cell-desc-font, var(--nutui-font-size-2, 14px));color:#757575;color:var(--nutui-gray-2, #757575);position:absolute;right:0;top:0;bottom:0;display:flex;align-items:center;padding:0 16px;cursor:pointer}.nut-navbar__right .rightIcon{margin-left:16px}.nut-navbar__right .leftIcon{margin-left:16px}
.nut-theme-dark .nut-tabbar{background:#0a0a0a}.nut-tabbar{border:0px;box-shadow:none;box-shadow:var(--nutui-tabbar-box-shadow, none);border-bottom:1px solid #eee;border-bottom:var(--nutui-tabbar-border-bottom, 1px solid #eee);border-top:1px solid #eee;border-top:var(--nutui-tabbar-border-top, 1px solid #eee);height:50px;height:var(--nutui-tabbar-height, 50px);width:100%;display:flex;justify-content:center;align-items:center;box-sizing:border-box;background:#ffffff;background:var(--nutui-gray-6, #ffffff)}.nut-tabbar:last-child{border-right:0}.nut-tabbar__bottom{position:fixed;bottom:0px;left:0px;z-index:888}.nut-tabbar__safebottom{bottom:constant(safe-area-inset-bottom);bottom:env(safe-area-inset-bottom)}.nut-tabbar__safebottom::after{content:"";z-index:90;position:fixed;left:0;bottom:0;height:env(safe-area-inset-bottom);width:100%;background-color:#fff}
.nut-theme-dark .nut-tabbar-item{color:#e6e6e6}.nut-theme-dark .nut-tabbar-item--active{color:#fa2c19;color:var(--nutui-brand-color, #fa2c19)}.nut-tabbar-item{display:flex;flex-direction:column;justify-content:center;align-items:center;flex:1;text-align:center;-webkit-text-decoration:none;text-decoration:none;color:#1a1a1a;color:var(--nutui-gray-1, #1a1a1a);height:100%}.nut-tabbar-item--active{color:#fa2c19;color:var(--nutui-brand-color, #fa2c19)}.nut-tabbar-item__icon-box{padding:0px;display:flex;flex-direction:column;align-items:center;position:relative}.nut-tabbar-item__icon-box__tips{position:absolute;background:#fa2c19;background:var(--nutui-tabbar-active-color, var(--nutui-brand-color, #fa2c19));border:1px solid #ffffff;border:1px solid var(--nutui-gray-6, #ffffff);border-radius:7px;text-align:center;top:calc(50% - 6px);right:calc(50% - 16px);box-shadow:0 0 0 1px #ffffff;box-shadow:0 0 0 1px var(--nutui-gray-6, #ffffff);font-size:12px;font-size:var(--nutui-font-size-1, 12px);color:#ffffff;color:var(--nutui-brand-text-color, #ffffff);z-index:1}.nut-tabbar-item__icon-box__dot{position:absolute;width:7px;height:7px;border:0;border-radius:7px;padding:0px;background:#fa2c19;background:var(--nutui-tabbar-active-color, var(--nutui-brand-color, #fa2c19));top:0;top:var(--nutui-tabbar-dot-top, 0);right:calc(50% - 12px);right:calc(50% - var(--nutui-tabbar-dot-right, 12px));transform:translate(50%, -50%)}.nut-tabbar-item__icon-box__num{line-height:1;font-size:10px;font-size:var(--nutui-tabbar-item-text-font-size, var(--nutui-font-size-0, 10px));color:#ffffff;color:var(--nutui-brand-text-color, #ffffff);padding:1px 2px 2px 3px;top:calc(-50% + 6px);right:-50%}.nut-tabbar-item__icon-box__nums{line-height:1;font-size:10px;font-size:var(--nutui-tabbar-item-text-font-size, var(--nutui-font-size-0, 10px));color:#ffffff;color:var(--nutui-brand-text-color, #ffffff);padding:2px 1px 2px 2px;top:calc(-50% + 6px);right:calc(-50% - 8px)}.nut-tabbar-item__icon-box__icon{display:block;background-size:100% 100%;background-position:center center}.nut-tabbar-item__icon-box--nav-word{display:block;font-size:10px;font-size:var(--nutui-font-size-0, 10px);margin-top:3px;margin-top:var(--nutui-tabbar-word-margin-top, 3px)}.nut-tabbar-item__icon-box--big-word{font-size:16px;font-size:var(--nutui-font-size-3, 16px);margin-top:0;line-height:20px;line-height:var(--nutui-tabbar-item-text-line-height, 20px)}
.wi5uS4tLlnoe1mcWi25Q {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.04);
}
.wi5uS4tLlnoe1mcWi25Q .L4m2_6hZ2zkGsXv8_17B {
  margin: 0;
}
.wi5uS4tLlnoe1mcWi25Q .QmiOTcRn1jMnL2O0Z6Dh {
  position: absolute;
  bottom: 0;
  left: 0;
}

